body {
    font-family: 'Lato', sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #E1E1E1;
    font-weight: 100;
}
/* need to fix for mobile  */
.banner-image {
    height: 400px; 
    background-repeat: no-repeat;
    background-image: url(./images/banner.jpg);
    background-size: cover;
    background-position: right;
}


h1, 
h2, 
h3, 
h5, { 
    color: #002b5a;   
}
h6 {
    color: #4987ca;
    font-size: 13px;
}
.state-finder {
    background-color: #EDEDED;
    height: 175px;
    border-radius: 1px;
    padding: 4px;
}
.state-finder h1 {
    font-size: 20px;
    margin-bottom: 20px;
}
.state-finder p {
    font-size: 12px;
    margin-bottom: 5px;
}

.services, 
.products {
    background-color: #F3F3F3;
}

.services button {
    background-color: #ffffff;
    color: #002b5a;
    font-size: 14px;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0, 0.25), 0 2px #fff inset;
}
/* products section  */
.product-drop {
    width: 100px;
    text-align: left;
}

.product-card p {
    font-size: 13px;
    color: #666666;
}

.product-card {
    /* color: #4987ca; */
    font-size: 19px;
}


